<!DOCTYPE html>
<html>

<head>
    <title>Choose Category</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Choose Category</h1>

        <p>Select a topic to start your quiz.</p>

        <br>

        <a href="/quiz/python/0">
            <button>Python</button>
        </a>

        <br><br>

        <a href="/quiz/java/0">
            <button>Java</button>
        </a>

        <br><br>

        <a href="/quiz/html/0">
            <button>HTML</button>
        </a>

        <br><br>

        <a href="/quiz/dsa/0">
            <button>DSA</button>
        </a>

    </div>

</body>

</html>